<a href="https://colab.research.google.com/github/Bushkhattak/AI-LAB/blob/main/Practice_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World');
#print('Hello World');

Hello World

In [ ]:
num1 = 1.5
num2 = 2.5
sum = num1 + num2
print('The sum of {} and {} is {}'.format(num1, num2, sum))

The sum of 1.5 and 2.5 is 4.0

In [ ]:
num1 = input('Enter 1st number')
num2 = input('Enter 2nd number')
sum = float(num1) + float(num2)
print('The sum of {} and {} is {}'.format(num1 , num2 , sum))
#num1 = input('Enter 1st number')
#num2 = input('Enter 2nd number')
#sum = float(num1) + float(num2)
#print('The sum of {}and {} is {}'.format(num1, num2, sum))

Enter 1st number34
Enter 2nd number4.5
The sum of 34 and 4.5 is 38.5

In [ ]:
x = 5
print(type(x))
#x = 4
#print(type(x))

<class 'int'>

In [ ]:
name = "Bushra"

if name == 16 :
 print ('Not eligible')
else :
  print('Eligible')

Eligible

In [ ]:
name = "Shafy"
age = 22
color = "black"

print(name)
print(age)
print(color)

Shafy
22
black

In [ ]:
name = input('Enter your good name:')
print(name)
#name = input('Enter your name')
#print(name)

Enter your good name:Bushii
Bushii

In [ ]:
#swapping two variables
a = 2
b = 4
#let swap them
a , b = b, a
print(a)
print(b)

4
2